# Auto detect text files and perform LF normalization on checkin
* text=auto

# Ensure shell scripts always retain LF line endings on all platforms
*.sh text eol=lf
*.startup text eol=lf
*.conf text eol=lf
